body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background: #eef2f7;
}

header {
  background: linear-gradient(135deg, #0d6efd, #00c6ff);
  color: white;
  padding: 30px;
  text-align: center;
}

section {
  padding: 20px;
}

.card {
  background: white;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

button {
  margin: 20px;
  padding: 10px 20px;
  border: none;
  background: #0d6efd;
  color: white;
  border-radius: 10px;
}

/* HARİTA */
#map {
  height: 300px;
  margin-top: 20px;
  border-radius: 15px;
}
